@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range:U+AC00-D7A3;	/* 한글 */
}

@font-face {
  font-family: "PollerOne";
  src: url('/fonts/PollerOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range:U+0041-005A, U+0061-007A;	/* 영문 대소문자 */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, Pretendard, PollerOne, sans-serif;
}
