.container{
  margin: 30px 50px 0 50px ;
  border-top: 1px solid #1E1E1D;
  border-bottom: 1px solid #1E1E1D;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}