.container {
  position: relative;
  margin: 0px 50px;
  border-bottom: 1px solid #1E1E1D;
}

.footerHead {
  display: grid;
  grid-template-columns: .7fr .3fr;
  height: 60px;
  border-top: 1px solid #1E1E1D;
  border-bottom: 1px solid #1E1E1D;
  align-items: center;

}

.contact {
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: sans-serif;
}